.turtle .hll { background-color: #ffffcc }
.turtle .c { color: #408080; font-style: italic } /* Comment */
.turtle .err { border: 1px solid #FF0000 } /* Error */
.turtle .k { color: #008000; font-weight: bold } /* Keyword */
.turtle .o { color: #666666 } /* Operator */
.turtle .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.turtle .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.turtle .cp { color: #BC7A00 } /* Comment.Preproc */
.turtle .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.turtle .c1 { color: #408080; font-style: italic } /* Comment.Single */
.turtle .cs { color: #408080; font-style: italic } /* Comment.Special */
.turtle .gd { color: #A00000 } /* Generic.Deleted */
.turtle .ge { font-style: italic } /* Generic.Emph */
.turtle .gr { color: #FF0000 } /* Generic.Error */
.turtle .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.turtle .gi { color: #00A000 } /* Generic.Inserted */
.turtle .go { color: #888888 } /* Generic.Output */
.turtle .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.turtle .gs { font-weight: bold } /* Generic.Strong */
.turtle .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.turtle .gt { color: #0044DD } /* Generic.Traceback */
.turtle .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.turtle .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.turtle .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.turtle .kp { color: #008000 } /* Keyword.Pseudo */
.turtle .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.turtle .kt { color: #B00040 } /* Keyword.Type */
.turtle .m { color: #666666 } /* Literal.Number */
.turtle .s { color: #BA2121 } /* Literal.String */
.turtle .na { color: #7D9029 } /* Name.Attribute */
.turtle .nb { color: #008000 } /* Name.Builtin */
.turtle .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.turtle .no { color: #880000 } /* Name.Constant */
.turtle .nd { color: #AA22FF } /* Name.Decorator */
.turtle .ni { color: #999999; font-weight: bold } /* Name.Entity */
.turtle .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.turtle .nf { color: #0000FF } /* Name.Function */
.turtle .nl { color: #A0A000 } /* Name.Label */
.turtle .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.turtle .nt { color: #008000; font-weight: bold } /* Name.Tag */
.turtle .nv { color: #19177C } /* Name.Variable */
.turtle .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.turtle .w { color: #bbbbbb } /* Text.Whitespace */
.turtle .mb { color: #666666 } /* Literal.Number.Bin */
.turtle .mf { color: #666666 } /* Literal.Number.Float */
.turtle .mh { color: #666666 } /* Literal.Number.Hex */
.turtle .mi { color: #666666 } /* Literal.Number.Integer */
.turtle .mo { color: #666666 } /* Literal.Number.Oct */
.turtle .sa { color: #BA2121 } /* Literal.String.Affix */
.turtle .sb { color: #BA2121 } /* Literal.String.Backtick */
.turtle .sc { color: #BA2121 } /* Literal.String.Char */
.turtle .dl { color: #BA2121 } /* Literal.String.Delimiter */
.turtle .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.turtle .s2 { color: #BA2121 } /* Literal.String.Double */
.turtle .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.turtle .sh { color: #BA2121 } /* Literal.String.Heredoc */
.turtle .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.turtle .sx { color: #008000 } /* Literal.String.Other */
.turtle .sr { color: #BB6688 } /* Literal.String.Regex */
.turtle .s1 { color: #BA2121 } /* Literal.String.Single */
.turtle .ss { color: #19177C } /* Literal.String.Symbol */
.turtle .bp { color: #008000 } /* Name.Builtin.Pseudo */
.turtle .fm { color: #0000FF } /* Name.Function.Magic */
.turtle .vc { color: #19177C } /* Name.Variable.Class */
.turtle .vg { color: #19177C } /* Name.Variable.Global */
.turtle .vi { color: #19177C } /* Name.Variable.Instance */
.turtle .vm { color: #19177C } /* Name.Variable.Magic */
.turtle .il { color: #666666 } /* Literal.Number.Integer.Long */

.model {
    empty-cells: show;
    border-collapse: collapse;
    margin-bottom: .5ex;
    border: 1px solid black;
    width: 100%;
}

.model th {
    padding: 3px;
    border: 1px solid #404040;
    text-align: center;
    font-weight: bold;
}

.model td {
    padding: 5px;
    border: 1px solid #404040;
    text-align: left;
}

.ex_title {
    margin-top: 2rem;
    font-style: italic;
    color: #005A9C;
}
span.orcid a  {
    text-decoration: none !important;
    border: none !important;
}
span.orcid a img {
    transform: translateY(3px);
}
